<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Document</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="content">
            <p>
                Bienvenue sur le futur site de gestion du programme annuel des étudiants.
            </p>
        </div>
    </main>
    
</body>
</html>